.selectedPage {
    font-weight: bold;
}

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.pagination {
    margin: 5px;
    padding: 5px;
    border: solid black;
    cursor: pointer;
}

.prevPage, 
.nextPage {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: #393836;
    border: none
}

.nextPage:hover,
.prevPage:hover {
	background-color: #282826;
	cursor: pointer;
}