.content {
	grid-area: c;
}

.allData {
	color: white;
	display: flex;
	background-color: #393836;
	padding: 20px;
	align-items: center;
}

.mainPicture {
	width: 1000px;
	height: 210px;
	margin: 20px 0px 20px 20px;
}

.userInfo {
	display: flex;
	align-items: center;
}

.userName {
	font-size: 25px;
	font-wight: bold;
	margin-bottom: 10px;
}

.myAvatar {
	width: 140px;
	height: 140px;
	margin-bottom: 5px;
}

.item {
	color: gray;
}

.profileContainer {
	display: flex;
	gap: 100px;
	justify-content: space-between;
}

.contacts {
}

.activateMode {
	display: flex;
	align-items: center;
	gap: 10px;
}

.activateMode:hover {
	background-color: #797776;
}

.deactivateMode {
	display: flex;
	width: 100%;
}

.photoContainer {
	margin: 10px 50px 20px 0;
}

.photoChange {
	display: none;
}

.photoChangeButton {
	text-align: center;
	border: 1px solid white;
	color: white;
	padding: 6px 20px;
	background-color: #393836;
	cursor: pointer;
}

.photoChangeButton:hover {
	background-color: white;
	color: black
}

.formSummaryError
{
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;

}